<style>
  [data-custom-class='body'], [data-custom-class='body'] * {
  background: transparent !important;
  }
  [data-custom-class='title'], [data-custom-class='title'] * {
  font-family: Arial !important;
  font-size: 26px !important;
  color: #000000 !important;
  }
  [data-custom-class='subtitle'], [data-custom-class='subtitle'] * {
  font-family: Arial !important;
  color: #595959 !important;
  font-size: 14px !important;
  }
  [data-custom-class='heading_1'], [data-custom-class='heading_1'] * {
  font-family: Arial !important;
  font-size: 19px !important;
  color: #000000 !important;
  }
  [data-custom-class='heading_2'], [data-custom-class='heading_2'] * {
  font-family: Arial !important;
  font-size: 17px !important;
  color: #000000 !important;
  }
  [data-custom-class='body_text'], [data-custom-class='body_text'] * {
  color: #595959 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  }
  [data-custom-class='link'], [data-custom-class='link'] * {
  color: #3030F1 !important;
  font-size: 14px !important;
  font-family: Arial !important;
  word-break: break-word !important;
  }
</style>
<div data-custom-class="body">
  <div><strong><span style="font-size: 26px;"><span data-custom-class="title">ORION ALLIANCE COOKIE POLICY</span></span></strong></div>
  <div><br></div>
  <div>
     <span style="color: rgb(127, 127, 127);">
        <strong>
           <span style="font-size: 15px;">
              <span data-custom-class="subtitle">
                 Last updated 
                 <bdt class="question">July 08, 2020</bdt>
              </span>
           </span>
        </strong>
     </span>
  </div>
  <div><br></div>
  <div><br></div>
  <div><br></div>
  <div style="line-height: 1.5;">
     <span style="color: rgb(127, 127, 127);">
        <span style="color: rgb(89, 89, 89); font-size: 15px;">
           <span data-custom-class="body_text">
              This Cookie Policy explains how we use cookies and similar technologies to recognize you when you visit our website. It explains what these technologies are and why we use them, as well as your rights to control our use of them.
              <bdt class="block-component"></bdt>
           </span>
        </span>
     </span>
  </div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;">
     <span style="color: rgb(127, 127, 127);">
        <span style="color: rgb(89, 89, 89); font-size: 15px;">
           <span data-custom-class="body_text">
              In some cases we may use cookies to collect personal information, or that becomes personal information if we combine it with other information. 
              <bdt class="block-component"></bdt>
           </span>
           <bdt class="statement-end-if-in-editor"><span data-custom-class="body_text"></span></bdt>
        </span>
     </span>
  </div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(0, 0, 0); font-size: 15px;"><strong><span data-custom-class="heading_1">What are cookies?</span></strong></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text">Cookies are small data files that are placed on your computer or mobile device when you visit a website. Cookies are widely used by website owners in order to make their websites work, or to work more efficiently, as well as to provide reporting information.</span></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;">
     <span style="color: rgb(127, 127, 127);">
        <span style="color: rgb(89, 89, 89); font-size: 15px;">
           <span data-custom-class="body_text">
              Cookies set by the website owner are called "first party cookies". Cookies set by parties other than the website owner are called "third party cookies". Third party cookies enable third party features or functionality to be provided on or through the website (e.g. like advertising, interactive content and analytics). The parties that set these third party cookies can recognize your computer both when it visits the website in question and also when it visits certain other websites.
           </span>
        </span>
     </span>
  </div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(0, 0, 0); font-size: 15px;"><strong><span data-custom-class="heading_1">Why do we use cookies?</span></strong></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;">
     <span style="color: rgb(127, 127, 127);">
        <span style="color: rgb(89, 89, 89); font-size: 15px;">
           <span data-custom-class="body_text">
              We use first
              <bdt class="block-component"></bdt>
              and third
              <bdt class="statement-end-if-in-editor"></bdt>
              party cookies for several reasons. Some cookies are required for technical reasons in order for our Websites to operate, and we refer to these as "essential" or "strictly necessary" cookies. Other cookies also enable us to track and target the interests of our users to enhance the experience on our Online Properties. 
              <bdt class="block-component"></bdt>
              Third parties serve cookies through our Websites for advertising, analytics and other purposes. 
              <bdt class="statement-end-if-in-editor"></bdt>
              This is described in more detail below.
           </span>
        </span>
     </span>
  </div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;">
     <span style="color: rgb(127, 127, 127);">
        <span style="color: rgb(89, 89, 89); font-size: 15px;">
           <span data-custom-class="body_text">
              The specific types of first
              <bdt class="block-component"></bdt>
              and third
              <bdt class="statement-end-if-in-editor"></bdt>
              party cookies served through our Websites and the purposes they perform are described below (please note that the specific cookies served may vary depending on the specific Online Properties you visit):
           </span>
        </span>
     </span>
  </div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span id="control" style="color: rgb(0, 0, 0);"><strong><span data-custom-class="heading_1">How can I control cookies?</span></strong></span></span></span></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text">You have the right to decide whether to accept or reject cookies. You can exercise your cookie rights by setting your preferences in the Cookie Consent Manager. The Cookie Consent Manager allows you to select which categories of cookies you accept or reject. Essential cookies cannot be rejected as they are strictly necessary to provide you with services.</span></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text">The Cookie Consent Manager can be found in the notification banner and on our website. If you choose to reject cookies, you may still use our website though your access to some functionality and areas of our website may be restricted. You may also set or amend your web browser controls to accept or refuse cookies. As the means by which you can refuse cookies through your web browser controls vary from browser-to-browser, you should visit your browser's help menu for more information.</span></span></span></div>
  <div style="line-height: 1.5;"><br></div>
  <div style="line-height: 1.5;"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text">In addition, most advertising networks offer you a way to opt out of targeted advertising. If you would like to find out more information, please visit </span></span><span style="font-size: 15px; color: rgb(48, 48, 241);"><span data-custom-class="body_text"><a data-custom-class="link" href="http://www.aboutads.info/choices/" target="_blank">http://www.aboutads.info/choices/</a></span></span><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text"> or </span></span><span style="font-size: 15px; color: rgb(48, 48, 241);"><span data-custom-class="body_text"><a data-custom-class="link" data-fr-linked="true" href="http://www.youronlinechoices.com" target="_blank">http://www.youronlinechoices.com</a></span></span><span style="font-size: 15px; color: rgb(89, 89, 89);"><span data-custom-class="body_text">.</span></span></span></div>
  <div>
     <div style="line-height: 1.5;"><span data-custom-class="heading_2" style="color: rgb(0, 0, 0);"><span style="font-size: 15px;"><strong><br>What cookies do we use:</strong></span></span></div>
     <p style="font-size: 15px; line-height: 1.5;"><span style="color: rgb(127, 127, 127);"><span style="color: rgb(89, 89, 89); font-size: 15px;"><span data-custom-class="body_text">These cookies collect information that is used either in aggregate form to help us understand how our Websites are being used or how effective our marketing campaigns are, or to help us customize our Websites for you.</span></span></span></p>
     <div>
        <span data-custom-class="body_text">
           <section data-custom-class="body_text" style="width: 100%; border: 1px solid #e6e6e6; margin: 0 0 10px; border-radius: 3px;">
              <div style="padding: 8px 13px; border-bottom: 1px solid #e6e6e6;">
                 <table>
                    <tbody>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Name:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">_gid</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Purpose:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Keeps an entry of unique ID which is then used to come up with statistical data on website usage by visitors. It is a HTTP cookie type and expires after a browsing session.</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Service:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Google Analytics  <a href="https://policies.google.com/privacy" style="color: #1a98eb !important;" target="_blank">View Service Privacy Policy</a>  </span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Country:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Poland</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Type:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">http_cookie</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Expires in:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">1 day</span></td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </section>
           <section data-custom-class="body_text" style="width: 100%; border: 1px solid #e6e6e6; margin: 0 0 10px; border-radius: 3px;">
              <div style="padding: 8px 13px; border-bottom: 1px solid #e6e6e6;">
                 <table>
                    <tbody>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Name:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">_gat#</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Purpose:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Enables Google Analytics regulate the rate of requesting. It is a HTTP cookie type that lasts for a session.</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Service:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Google Analytics  <a href="https://policies.google.com/privacy" style="color: #1a98eb !important;" target="_blank">View Service Privacy Policy</a>  </span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Country:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Poland</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Type:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">http_cookie</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Expires in:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">1 minute</span></td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </section>
           <section data-custom-class="body_text" style="width: 100%; border: 1px solid #e6e6e6; margin: 0 0 10px; border-radius: 3px;">
              <div style="padding: 8px 13px; border-bottom: 1px solid #e6e6e6;">
                 <table>
                    <tbody>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Name:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">_ga</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Purpose:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">It records a particular ID used to come up with data about website usage by the user. It is a HTTP cookie that expires after 2 years.</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Service:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Google Analytics  <a href="https://policies.google.com/privacy" style="color: #1a98eb !important;" target="_blank">View Service Privacy Policy</a>  </span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Country:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">Poland</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Type:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">http_cookie</span></td>
                       </tr>
                       <tr style="font-family: Roboto, Arial; font-size: 12px; line-height: 1.67; margin: 0 0 8px; vertical-align: top;">
                          <td style="text-align: right; color: #19243c; min-width: 80px;">Expires in:</td>
                          <td style="display: inline-block; margin-left: 5px;"><span style="color: #8b93a7; word-break: break-all;">1 year 11 months 29 days</span></td>
                       </tr>
                    </tbody>
                 </table>
              </div>
           </section>
        </span>
     </div>
  </div>
</div>